.Rproj.user
Defuzzificacao_fuzzy_tipo_II.R
Defuzzificacao_fuzzy_tipo_II_2.R
Exemplo_de_Utilizacao_Fuzzy_Tipo_I.R
Exemplo_de_Utilizacao_Fuzzy_Tipo_II.R
[Correto] Exemplo com codigo de defuzzificação.R
FuzzySets.R
FuzzySetsTypeII.R
README.Rmd
README.html
.Rhistory
imagens/